* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/img7.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.66;
    background-color: black;

}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 22px;
    bottom: 64px;
    padding: 0 32px;
    text-align: centre;
}

.hero #head {
    font-weight: 900;
    font-size: 32px;
}

.hero:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
}

.hero:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
}

.seperation {
    height: 5px;
    background-color: rgb(48, 46, 46);
    position: relative;
    bottom: 100px;
    z-index: 50;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    border: none;
}

#signin {
    background-color: red;
    color: white;
}

#getstarted {
    background-color: red;
    color: white;
    padding: 8px 2px;
    font-size: 15px;
    font-weight: 400;
}

.hero .loginArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main input {
    padding: 9px 101px 9px 7px;
    font-size: 12px;
    font-weight: 200;
    color: white;
    border-radius: 4px;
    background-color: rgba(37, 36, 36, 0.2);
    border: 1.5px solid white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.secimg {
    position: relative;
}

.secimage img {
    position: relative;
    z-index: 10;
    width: 30vw;
}

section.first #vdo1 {
    position: absolute;
    width: 25vw;
    right: 15.4vw;
    top: 76vh;
    object-fit: cover;
}

section .first>div {
    display: flex;
    flex-direction: column;
}

section.first>h2 {
    font-size: 48px;
    font-weight: 900;
    gap: 10px;
}

section.first>p {
    font-size: 24px;
    font-weight: normal;
}

.seperationSecond {
    height: 5px;
    background-color: rgb(48, 46, 46);
    position: relative;
    z-index: 50;
}

.first.third {
    position: relative;
    z-index: 10;
}

.first.third #vdo2 {
    position: absolute;
    width: 18vw;
    right: 6vw;
    top: 36px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 24px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(40, 38, 38);
    padding: 15px;
    max-width: 55vw;
    margin: 5px auto;
    cursor: pointer;
    transition-timing-function: step-start;
}

.faqbox:hover {
    background-color: rgb(57, 54, 54);
}

.faq p {
    padding: 34px;
}

.faq input {
    padding: 9px 101px 9px 7px;
    font-size: 12px;
    font-weight: 200;
    color: white;
    border-radius: 4px;
    background-color: rgba(62, 61, 61, 0.317);
    border: 1.5px solid white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer>div {
    padding: 14px 0;
}

.footer-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-size: 10px;
}

footer a {
    text-decoration: 0.2px underline;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*responsiveness by media Quary*/

@media screen and (max-width:500px) {
    .first {
        align-content: space-evenly;
        flex-wrap: wrap;
        padding: 3.5rem 0;
    }

    .secimage img {
        position: relative;
        z-index: 10;
        width: 247px;
    }

    section.first #vdo1 {
        position: absolute;
        width: 198px;
        right: 23.4vw;
        top: 96%;
    }

    .first.third #vdo2 {
        position: absolute;
        width: 145px;
        right: 16vw;
        top: 40%;
    }

    .hero .loginArea {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 5px;
    }

    .footer-class {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}